---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>Ben's Astro Site</title>
  </head>
  <body>
	<h1>Ben's</h1>
	<h1>Astro Site</h1>
  </body>
</html>